<div class="issue_container">
  <h1><%= @issue.title %></h1>

  <hr>

  <p><strong>Section:</strong> <%= @issue.section.name %></p>

  <div class="problem_description">
    <h2>Problem:</h2>
    <% if @issue.problem.present? %>
      <p><%= @issue.problem %></p>
    <% else %>
      <p>No problem descrition yet.</p>
    <% end %>
  </div>

  <div class="solution_description">
    <h2>Solution:</h2>
    <% if @issue.solution.present? %>
      <p><%= @issue.solution %></p>
    <% else %>
      <p>No solution provided yet.</p>
    <% end %>
  </div>

  <% if @issue.image.attached? %>
    <div class="image_container">
      <%= image_tag @issue.image.variant(resize: "500*500", alt: "Issue image") %>
    </div>
  <% else %>
    <p>No image available for this issue.</p>
  <% end %>

  <%= link_to ">Back", section_path(@section) %>
</div>
